---
import { SITE_DESCRIPTION, SITE_TITLE } from '../config';
import type { Post } from '../types';
import SiteLayout from './SiteLayout.astro';

export type Props = Post;

const { title, description, pubDate, timeToRead } = Astro.props as Props;
---

<SiteLayout
  title={`${title} | ${SITE_TITLE}`}
  description={`${description} | ${SITE_DESCRIPTION}`}
>
  <article class="container">
    <h1 class="title">
      {title}
    </h1>
    <h3 class="description">
      {description}
    </h3>
    <h5 class="meta">{pubDate} &bull; {timeToRead}</h5>
    <slot />
  </article>
</SiteLayout>

<style>
  .container {
    padding: 5rem 8rem;
    font-size: 1em;
    font-weight: normal;
  }

  .title {
    font-size: 2em;
    font-weight: 900;
  }

  .description {
    font-size: 1em;
  }

  .meta {
    font-size: 1em;
  }

  @media (max-width: 700px) {
    .container {
      padding: 5rem 1rem;
    }
  }
</style>
